@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:wght@500&display=swap");

:root {
  --font-heading: "Archivo Black", sans-serif;
  --font-primary: "Archivo Narrow", sans-serif;

  background: radial-gradient(ellipse at center, rgb(19, 19, 19) 0%, rgb(17, 17, 17) 100%);
  --background: rgb(19, 19, 19);
  --foreground: rgba(21, 21, 21, 0.866);
  --nav: rgba(21, 21, 21, 0.866);
  --button: rgb(14, 14, 15);

  --padding-base: min(4px, 1vw);

  --border-base: 1px solid rgba(255, 255, 255, 0.25);
  --border-dashed-base: 1px dashed rgba(255, 255, 255, 0.25);
  --border-light: 1px solid rgba(255, 255, 255, 0.166);
  --border-dashed-light: 1px dashed rgba(255, 255, 255, 0.166);
  --border-pale: 1px solid rgba(255, 255, 255, 0.07);
  --border-dashed-pale: 1px dashed rgba(255, 255, 255, 0.07);

  --box-shadow-base: 0px 4px 2px rgba(0, 0, 0, 0.866);

  --horizontal-space-default: min(33pc, 25vw);
  --horizontal-space: min(33pc, 25vw);
  --nav-extra-padding: calc(var(--padding-base) * 3);

  --nav-height: min(3pc, 8.66vh);
}

body {
  margin: 0;
  height: 100vh;
}

button {
  border-radius: 3px;
  border: var(--border-light);
  background: var(--foreground);
  font-family: var(--font-heading);
  cursor: pointer;
  padding: 2px 1pc;
  background: var(--button);
}

input {
  background: none;
  border: var(--border-pale);
  border-radius: 3px;
  padding: 2px 0;
}

input:focus {
  outline: none;
  border: var(--border-base);
}

* {
  font-size: min(3.66vw, 0.866pc);
  font-family: var(--font-primary);
  color: white;
}
